@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.con1 {
    background-color: aqua;
    height: 100vh;
    padding-top: 50px;
}

.container {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.container button:active{
    transform: scale(0.95);
}