@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.con1 {
    background-color: aqua;
    height: 100vh;
    padding-top: 50px;
}

.container {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.container button:active{
    transform: scale(0.95);
}
.container1{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.actived a.active{
    background-color: aqua;
    padding-left: 10px;
    padding-right: 10px;
}
.actived a{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.actived a:hover{
    background-color: aliceblue;
}